/* Flowchart style for process of services */
:root {
    --primary: #37a9e1;
    --primary-gradient: linear-gradient(180deg, #153c7e 0%, #37a9e1 100%);
}

.section-header {
    text-align: center;
}

.section-header h2 {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 16px;
    line-height: 90%;
}

.bg-gradient_solid {
    background: var(--primary-gradient);
    color: #fff;
    padding: 48px 0;
}

.steps {
    position: relative;
    margin-top: 32px;
}

.steps::after {
    content: "";
    position: absolute;
    width: 1px;
    background-color: white;
    opacity: 0.4;
    top: 0;
    bottom: 0;
    left: 50%;
}

.steps .content p {
    color: #676767;
    font-size: 14px;
    line-height: 1.75;
    font-family: OpenSans, sans-serif;
}

.steps .content h2 {
    font-family: Dosis, Ubuntu, sans-serif;
    color: #00AF80;
    /* 525252; */
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 0.5rem;
}

.steps-container {
    position: relative;
    background-color: inherit;
    width: calc(50% + 32px);
}

.steps-container .content {
    padding: 30px;
    background-color: white;
    position: relative;
    border-radius: 2px 2px 40px 2px;
    box-shadow: 0px 16px 27px rgb(0 11 30 / 10%);
}

.steps .steps-container:nth-child(even) {
    left: calc(50% - 40px);
    flex-direction: row-reverse;
}

.steps-container {
    display: flex;
}

.steps .steps-container .number {
    font-weight: 900;
    font-size: 18px;
    color: #ffffff;
    margin-bottom: 10px;
    width: 62px;
    height: 62px;
    background-color: var(--primary);
    border-radius: 50%;
    flex-shrink: 0;
    align-items: center;
    display: flex;
    justify-content: center;
    z-index: 20;
}

.step-line {
    width: 40px;
    background-color: #fff;
    height: 1px;
    margin-top: 31px;
    opacity: 0.4;
    flex-shrink: 0;
}

@media (max-width: 767px) {
    .steps::after {
        left: 32px;
    }

    .steps-container {
        left: 0;
        flex-direction: row-reverse;
        width: auto;
        margin-bottom: 16px;
    }

    .steps .steps-container:nth-child(even) {
        left: 0;
    }
}

/* Shape style for feedback */

.bubble {
    position: relative;
    width: 90%;
    max-width: 50rem;
    height: max-content;
    background: #fff;
    border: 1px solid #a7a7a7;
    border-radius: 8px;
    box-shadow: 4px 4px 0 rgba(0, 0, 0, .2);
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 3.5rem;
    padding-right: 3.5rem;
    text-align: center;
}

.bubble-arrow {
    position: absolute;
    right: 2rem;
    bottom: -25px;
    border-left: 31px solid transparent;
    border-top: 20px solid rgba(0, 0, 0, .2);

    &::before {
        content: '';
        position: absolute;
        right: 5px;
        bottom: 2px;
        border-left: 33px solid transparent;
        border-top: 23px solid #a7a7a7;
    }

    &::after {
        content: '';
        position: absolute;
        right: 6px;
        bottom: 4px;
        border-left: 31px solid transparent;
        border-top: 21px solid #fff;
    }
}

.quote-l {
    position: absolute;
    left: -1.5rem;
    top: -0.5rem;
    font-size: 1.25rem;
    line-height: 1.75rem;
}

.quote-r {
    position: absolute;
    right: -1.5rem;
    bottom: 0;
    font-size: 1.25rem;
    line-height: 1.75rem;
}

.testimonial {
    position: relative;
    font-style: italic;
    --tw-text-opacity: 1;
    color: rgb(82 82 82 / var(--tw-text-opacity));
    font-family: OpenSans, sans-serif;
}

.owner h3 {
    font-family: Dosis, Ubuntu, sans-serif;
    --tw-text-opacity: 1;
    color: rgb(64 64 64 / var(--tw-text-opacity));
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 1.125rem;
    line-height: 1.75rem;
}

.owner h4 {
    font-family: Dosis, Ubuntu, sans-serif;
    --tw-text-opacity: 1;
    color: rgb(82 82 82 / var(--tw-text-opacity));
    font-size: 1rem;
    line-height: 1.5rem;
}

.carousel-serv {
    height: 25rem;
    min-height: max-content;
    width: 100%;
    position: relative;
    overflow: hidden;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}

.slides-serv {
    display: flex;
    height: 100%;
    width: 100%;
}

.slide-serv {
    flex: 1 0 100%;}